projects/lead-command-center/workflows/3_Lead Enrichment/Company_Website_Smart_Crawler/Skool___Enrich___Company_Website___HTTP_Pages.json
{
  "name": "Skool | Enrich | Company Website | HTTP Pages",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable').first().json.id }}",
            "Lead Status": "Cold",
            "Company Website Scrape": "=",
            "LinkedIn Personal": "=",
            "LinkedIn Company": "=",
            "Summary": "=",
            "Posts": "=",
            "Personalization": "=",
            "Clean Company Name": "=",
            "Date Lead Enriched": "={{ new Date().toISOString().split('T')[0] }}",
            "Product/Service": "=",
            "Type of Company": "=",
            "Instantly Camp. ID": "991e31fe-a0dd-489f-bf75-5fb93032677e"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clean Company Name",
              "displayName": "Clean Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Google Meet URL",
              "displayName": "Google Meet URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Personal",
              "displayName": "LinkedIn Personal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Company",
              "displayName": "LinkedIn Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website Scrape",
              "displayName": "Company Website Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type of Company",
              "displayName": "Type of Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product/Service",
              "displayName": "Product/Service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "48d11851-5673-432f-9180-269249128f60",
      "name": "Update Lead With Enriched Data,",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1780,
        940
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "id": "=recBUJsEe8VkmW84S",
        "options": {}
      },
      "id": "6472cecc-9c22-422a-806d-9525ecd207b4",
      "name": "Pull Lead From Airtable,",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3180,
        680
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      },
      "notes": "{{ $json.query.recordId }}"
    },
    {
      "parameters": {
        "path": "e697d609-eca3-4822-8037-65a4eac1704f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3400,
        680
      ],
      "id": "20de6b70-968d-437f-9e4c-0dfc0539f8c6",
      "name": "Webhook",
      "webhookId": "e697d609-eca3-4822-8037-65a4eac1704f",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=#### **Role:**  \nYou are an expert in **business intelligence, structured data extraction, and CRM optimization**.  \n\n#### **Task:**  \nAnalyze the **structured company summary** and extract **key business variables** in a **properly formatted JSON output** for CRM and email personalization. Ensure all variables are **capitalized correctly**, and use **natural phrasing** so they can be **directly inserted into email templates** without modification.  \n\nIf a field is **not explicitly stated**, return `\"not listed\"` instead of `null`.  \n\n---\n\n### **Company Data Extraction Rules:**  \n\n#### **1. General Company Information**  \n- **{CompanyName}** → Extract the full company name, properly capitalized.  \n- **{Industry}** → Extract a **concise and specific industry descriptor** (e.g., `\"AI-driven cybersecurity\"` instead of `\"Technology\"`).  \n- **{Headquarters}** → Extract the **city and state/country**, formatted as `\"based in [location]\"` (e.g., `\"based in San Francisco, CA\"`).  \n- **{YearFounded}** → Extract as `\"founded in [YEAR]\"` (e.g., `\"founded in 2019\"`).  \n- **{EmployeeCount}** → Extract as `\"a team of [NUMBER] employees\"` (e.g., `\"a team of 120 employees\"`).  \n- **{CompanyType}** → Extract as `\"a [company type]\"` (e.g., `\"a privately held company\"`).  \n\n---\n\n#### **2. Mission & Business Summary**  \n- **{MissionStatement}** → Extract as `\"on a mission to [mission]\"` (e.g., `\"on a mission to eliminate infrastructure concerns and accelerate software deployment\"`).  \n- **{USP}** → Extract as `\"known for [unique selling point]\"` (e.g., `\"known for its first-of-its-kind AI-powered fraud detection system\"`).  \n- **{CompanyOverview}** → Extract as `\"specializes in [core service]\"` (e.g., `\"specializes in cloud-native full-stack environments for DevOps teams\"`).  \n\n---\n\n#### **3. Products, Services, and Technology**  \n- **{CoreServices}** → Extract as `\"offers [services]\"` (e.g., `\"offers managed IT services, cybersecurity, and cloud migration solutions\"`).  \n- **{FlagshipProduct}** → Extract as `\"its flagship product is [product]\"` (e.g., `\"its flagship product is Acme AI Risk Analyzer\"`).  \n- **{ProductDescription}** → Extract as `\"designed to [function]\"` (e.g., `\"designed to prevent fraud in financial services using AI\"`).  \n- **{KeyFeatures}** → Extract as `\"features include [feature list]\"` (e.g., `\"features include automated detection, real-time analytics, and API integration\"`).  \n- **{TechnologyOrStack}** → Extract as `\"built with [technology]\"` (e.g., `\"built with GPT-4, AWS Lambda, and Kubernetes\"`).  \n- **{PricingModel}** → Extract as `\"operates on a [pricing model]\"` (e.g., `\"operates on a subscription-based SaaS model with enterprise and SMB tiers\"`).  \n\n---\n\n#### **4. Case Studies, Success Stories & Clients**  \n- **{CaseStudyTitles}** → Extract as `[\"Case Study Title 1\", \"Case Study Title 2\"]` (e.g., `[\"How XYZ Bank Reduced Fraud by 78% with Acme AI\"]`).  \n- **{NotableClients}** → Extract as `\"trusted by [client list]\"` (e.g., `\"trusted by Google, Tesla, IBM, and Stripe\"`).  \n- **{CustomerSuccessStories}** → Extract as `\"helped [client] achieve [result]\"` (e.g., `\"helped major financial institutions reduce fraud cases by 78%\"`).  \n- **{IndustriesServed}** → Extract as `\"works with [industry list]\"` (e.g., `\"works with finance, healthcare, and e-commerce companies\"`).  \n\n---\n\n#### **5. Thought Leadership & Industry Recognition**  \n- **{CustomerTestimonials}** → Extract as `[\"Testimonial 1\", \"Testimonial 2\"]` (e.g., `[\"Acme AI saved us millions—truly transformative!\"]`).  \n- **{AwardsOrCertifications}** → Extract as `\"recognized for [award]\"` (e.g., `\"recognized for its G2 Momentum Leader award in CPQ\"`).  \n- **{RecentBlogPosts}** → Extract as `[{ \"Date\": \"MMM DD, YYYY\", \"Title\": \"Blog Title\" }]` (e.g., `[{ \"Date\": \"March 10, 2024\", \"Title\": \"The Future of AI in Enterprise Security\" }]`).  \n- **{WebinarsOrReports}** → Extract as `\"published [report]\"` (e.g., `\"published 'AI in Cybersecurity: 2024 Trends'\"`).  \n\n---\n\n#### **6. Business Operations & Market Presence**  \n- **{OfficeLocations}** → Extract as `\"with offices at [address]\"` (e.g., `\"with offices at 530 Divisadero St, San Francisco, California\"`).  \n- **{FundingRounds}** → Extract as `\"has raised funding in [#] rounds\"` (e.g., `\"has raised funding in 3 rounds\"`).  \n- **{RecentFundingRound}** → Extract as `\"most recently raised [amount] in a [funding round] round in [date]\"` (e.g., `\"most recently raised $13.2M in a Series A round in March 2022\"`).  \n- **{Investors}** → Extract as `\"backed by [investors]\"` (e.g., `\"backed by Sequoia Capital and Andreessen Horowitz\"`).  \n- **{NotablePartnerships}** → Extract as `\"partners with [partners]\"` (e.g., `\"partners with Microsoft Azure and Google Cloud\"`).  \n\n---\n\n#### **7. Leadership, Hiring, & Contact Information**  \n- **{LeadershipTeam}** → Extract as `\"led by [team]\"` (e.g., `\"led by John Doe (CEO), Jane Smith (CTO), and Alex Brown (CFO)\"`).  \n\n---\n\n### **Return Output as JSON (Email-Friendly Formatting)**  \n```json\n{\n  \"CompanyName\": \"Release\",\n  \"Industry\": \"Software Development\",\n  \"Headquarters\": \"based in San Francisco, California\",\n  \"YearFounded\": \"founded in 2019\",\n  \"EmployeeCount\": \"a team of 20 employees\",\n  \"CompanyType\": \"a privately held company\",\n  \"MissionStatement\": \"on a mission to eliminate infrastructure concerns and accelerate software deployment\",\n  \"USP\": \"known for its internal developer platform for DevOps teams\",\n  \"CoreServices\": \"offers environments as a service, preview environments, and DevOps solutions\",\n  \"TechnologyOrProducts\": \"its technology includes an internal developer platform and on-demand environments\",\n  \"OfficeLocations\": \"with offices at 530 Divisadero St, San Francisco, California\",\n  \"RecentFundingRound\": \"not listed\",\n  \"Investors\": \"not listed\",\n  \"NotablePartnerships\": \"partners with Docker and NVIDIA\",\n  \"AwardsOrCertifications\": \"not listed\",\n  \"LeadershipTeam\": \"led by John Doe (CEO), Jane Smith (CTO), and Alex Brown (CFO)\",\n}\n```",
              "role": "system"
            },
            {
              "content": "=Input: {{ $json.message.content }}\nToday's date: {{ $now }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2160,
        940
      ],
      "id": "340573ba-f4fb-4fba-b942-dd2b59bcf3d0",
      "name": "Determine Variables",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=#### **Role:**  \nYou are an expert in **business intelligence, web data extraction, and structured company analysis**.  \n\n#### **Task:**  \nAnalyze the **scraped data from a company’s website** and produce a **high-quality, structured summary** optimized for CRM upload and personalized outreach. Your analysis must be **fact-based, precise, and derived entirely from the provided data**, ensuring **structured formatting** and easy integration into outbound sales efforts.  \n\n---\n\n### **Output Structure:**  \nYour response must be a **single string titled \"Company Website\"** and divided into exactly **six** clearly labeled sections:  \n\n---\n\n### **1. Company Overview:**  \n- Extract and clearly state the **official company name**.  \n- Identify the **industry** and ensure it is **specific and relevant** (e.g., \"AI-driven cybersecurity\" instead of \"Technology\").  \n- Extract and format the **headquarters location** (e.g., \"based in San Francisco, CA\").  \n- Extract the **founding year**, formatted as \"Founded in [YEAR]\" (e.g., \"Founded in 2015\").  \n- Provide the **exact employee count** if listed (e.g., \"120 employees\").  \n- Identify the **business type** (e.g., \"a privately held company,\" \"a public company,\" \"a nonprofit,\" etc.).  \n- Extract the **mission statement**, formatted naturally as \"on a mission to [mission].\"  \n- Identify and highlight the **company’s unique selling proposition (USP)**, explaining what differentiates them in their market.  \n\n---\n\n### **2. Products, Services, and Technology:**  \n- Extract and summarize the **core services** the company provides.  \n- List the **names of flagship products** and provide **concise descriptions** if available.  \n- Identify and highlight key **product features or benefits** that are marketed as differentiators.  \n- Extract details on **integration capabilities** (e.g., \"Integrates with Salesforce, Slack, and AWS\").  \n- If available, specify the **pricing model** (e.g., \"Subscription-based SaaS with enterprise and SMB tiers\").  \n- Identify and list **proprietary technologies or tech stack** used (e.g., \"Built with GPT-4, AWS Lambda, and Kubernetes\").  \n\n---\n\n### **3. Case Studies, Success Stories & Clients:**  \n- Extract and list **any featured case studies** mentioned on the website.  \n- Identify **notable clients or companies that use their services**, formatted as \"trusted by [Client Names].\"  \n- Summarize key **customer success stories** if available.  \n- Extract **quantifiable case study outcomes** (e.g., \"Reduced costs by 30%\" or \"Increased sales conversion by 50%\").  \n- Identify **industries or verticals served** by the company.  \n\n---\n\n### **4. Thought Leadership & Industry Recognition:**  \n- Extract **customer testimonials** and format them as direct quotes if available.  \n- Identify and list any **awards, certifications, or industry recognitions** (e.g., \"Recognized as a G2 Leader in Q1 2024\").  \n- Extract and summarize **recent blog post titles**, ensuring they reflect industry expertise.  \n- Identify **whitepapers, research reports, or downloadable resources** mentioned on the site.  \n- Capture details of **webinars, podcasts, or conference presentations** if listed.  \n\n---\n\n### **5. Recent Announcements, News, and Press Releases:**  \n- Extract and timestamp **recent press releases, product launches, partnerships, or funding announcements**.  \n- Identify and summarize any **notable company milestones or industry impact statements**.  \n- Extract **headlines and dates** from any recent **news articles or interviews** about the company.  \n\n---\n\n### **Formatting Requirements:**  \n- **All extracted information must be properly structured, capitalized, and formatted as if appearing naturally in a CRM.**  \n- **Data must be precise, avoiding generic statements like \"a leading provider\" unless explicitly stated.**  \n- **Fallback values should be `\"not listed\"` if a variable is unavailable.**  \n- **For numerical values (employee count, year founded, funding), ensure exact extraction without estimates.**  \n\n---\n\n### **Example Output (Formatted for CRM)**  \n```json\n{\n  \"CompanyName\": \"Acme AI\",\n  \"Industry\": \"AI-Powered Cybersecurity\",\n  \"Headquarters\": \"based in San Francisco, CA\",\n  \"YearFounded\": \"Founded in 2015\",\n  \"EmployeeCount\": \"120 employees\",\n  \"CompanyType\": \"a privately held company\",\n  \"MissionStatement\": \"on a mission to make AI-driven analytics accessible to all.\",\n  \"USP\": \"First-of-its-kind AI-powered fraud detection system.\",\n  \"CoreServices\": \"Managed IT Services, Cybersecurity, Cloud Migration\",\n  \"FlagshipProduct\": \"Acme AI Risk Analyzer\",\n  \"ProductDescription\": \"An advanced AI tool for fraud prevention in financial services.\",\n  \"KeyFeatures\": \"Automated detection, Real-time analytics, API Integration\",\n  \"TechnologyOrStack\": \"Built with GPT-4, AWS Lambda, Kubernetes\",\n  \"PricingModel\": \"Subscription-based SaaS with enterprise and SMB plans.\",\n  \"CaseStudyTitles\": [\"How XYZ Bank Reduced Fraud by 78% with Acme AI\"],\n  \"NotableClients\": \"Trusted by Google, Tesla, IBM, and Stripe\",\n  \"CustomerSuccessStories\": \"Reduced fraud cases by 78% for major financial institutions.\",\n  \"IndustriesServed\": \"Finance, Healthcare, E-commerce\",\n  \"CustomerTestimonials\": [\"Acme AI saved us millions—truly transformative!\"],\n  \"AwardsOrCertifications\": \"Gartner’s AI Innovation Award 2023\",\n  \"RecentFundingRound\": \"Series B - $50M, April 2024\",\n  \"Investors\": \"Sequoia Capital, Andreessen Horowitz\",\n  \"NotablePartnerships\": \"Official AI partner of Microsoft Azure\",\n  \"OfficeLocations\": \"Offices in New York, London, and Singapore.\",\n  \"LeadershipTeam\": \"John Doe - CEO, Jane Smith - CTO, Alex Brown - CFO\",\n  \"FounderName\": \"Founded by John Doe\",\n  \"FounderBackground\": \"Ex-Google AI researcher with 20 years in cybersecurity.\",\n  \"ContactEmail\": \"contact@acmecorp.com\",\n  \"PhoneNumber\": \"+1 (415) 555-0199\",\n  \"SocialMediaLinks\": \"LinkedIn, Twitter, YouTube\",\n  \"LatestNews\": [\n    {\n      \"Date\": \"June 15, 2024\",\n      \"Headline\": \"Acme Corp Launches AI-Driven Risk Management Suite\"\n    }\n  ],\n  \"RecentBlogPosts\": [\n    {\n      \"Date\": \"March 10, 2024\",\n      \"Title\": \"The Future of AI in Enterprise Security\"\n    },\n    {\n      \"Date\": \"February 1, 2024\",\n      \"Title\": \"How to Prevent Ransomware Attacks with AI\"\n    }\n  ]\n}\n```",
              "role": "system"
            },
            {
              "content": "=Input: {{ $('Remove HTML LinkedIn Page').first().json.plainText }}, {{ $json.data[0] }}, {{ $json.data[1] }}, {{ $json.data[2] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2520,
        940
      ],
      "id": "e62dbddb-3c47-4220-b60c-281e2e41e768",
      "name": "Analyze Company Website",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $node[\"Header Links Scraper\"].json.data; // Reference the correct node\n\nfunction extractHeaderLinks(htmlString) {\n    const headerLinks = htmlString.match(/<a[^>]+href=[\"'](.*?)[\"'][^>]*>(.*?)<\\/a>/g);\n    \n    if (!headerLinks) return [];\n\n    return headerLinks.map(link => {\n        const urlMatch = link.match(/href=[\"'](.*?)[\"']/);\n        const textMatch = link.match(/>(.*?)<\\/a>/);\n        return {\n            text: textMatch ? textMatch[1].trim() : '',\n            url: urlMatch ? urlMatch[1] : ''\n        };\n    }).filter(item => item.url); // Remove any empty URLs\n}\n\nreturn extractHeaderLinks(inputData);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2500,
        680
      ],
      "id": "4ade94f5-9ec2-4c78-bf98-9aacbd12615f",
      "name": "Filter HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{(() => {\n  const website = $('Pull Lead From Airtable,').item.json['Company Website'];\n  const email = $('Pull Lead From Airtable,').item.json['Email Address'];\n  // If 'Company Website' is empty, derive from 'Email Address'\n  return website || `https://${email.split('@')[1]}`;\n})()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7f93a61e-4459-401f-a46d-baab412041a6",
      "name": "Header Links Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2940,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  mergedData: items.map(item => item.json.url) // Extract only the URLs, removing unnecessary objects\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2260,
        680
      ],
      "id": "ca7c56c1-1d0a-441b-99e0-c53448509a58",
      "name": "Turn X Items Into 1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=**Prompt:**  \n\nYou are given a list of URLs extracted from a company's website. Your task is to identify the **three most relevant URLs** for enriching lead data.  \n\n**Selection Criteria:**  \nChoose URLs that provide **valuable insights** about the company, such as:  \n- **About Pages** (e.g., `/about`, `/company`, `/our-story`)  \n- **Case Studies & Success Stories** (e.g., `/case-studies`, `/customers`, `/success-stories`)  \n- **Use Cases & Solutions** (e.g., `/solutions`, `/industries`, `/how-it-works`)  \n- **Product Pages** (if relevant, e.g., `/platform`, `/features`)  \n\n**Exclusions:**  \nDo **not** select URLs for:  \n- Blog posts (unless case studies)  \n- Pricing pages  \n- Contact pages  \n- Legal/Privacy pages  \n- Career pages  \n\n**Output Format:**  \nReturn **exactly three URLs** in a **JSON array**, formatted as follows:  \n```json\n[\n  \"<selected-url-1>\",\n  \"<selected-url-2>\",\n  \"<selected-url-3>\"\n]\n```\n\n**Example Input (List of URLs):**\n```json\n[\n  \"https://example.com/about\",\n  \"https://example.com/blog/how-we-built-our-team\",\n  \"https://example.com/customers/success-stories\",\n  \"https://example.com/platform\",\n  \"https://example.com/contact\"\n]\n```\n\n**Example Output:**\n```json\n[\n  \"https://example.com/about\",\n  \"https://example.com/customers/success-stories\",\n  \"https://example.com/platform\"\n]\n```\n"
            },
            {
              "content": "={{ $json.mergedData[0] }}, {{ $json.mergedData[1] }}, {{ $json.mergedData[2] }}, {{ $json.mergedData[3] }}, {{ $json.mergedData[4] }}, {{ $json.mergedData[5] }}, {{ $json.mergedData[6] }}, {{ $json.mergedData[7] }}, {{ $json.mergedData[8] }}, {{ $json.mergedData[9] }}, {{ $json.mergedData[10] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2040,
        680
      ],
      "id": "b1459a41-1134-4a86-b302-056465c9bc45",
      "name": "Determine Valuable URLs",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3400,
        940
      ],
      "id": "c5745346-b342-4056-b4a8-dcbcfac4ca42",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $('Pull Lead From Airtable,').first().json['Company Website'] }}{{ $json['message.content.result'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3180,
        940
      ],
      "id": "1ff3a890-796b-40d5-a123-ffb2c5b06622",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2960,
        940
      ],
      "id": "6b055dbf-3c7f-4a10-bdaa-bf662e76c0d9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cleanText = (html) => {\n    return html\n        .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')  // Remove scripts\n        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')    // Remove styles\n        .replace(/<!--[\\s\\S]*?-->/g, '')                     // Remove comments\n        .replace(/<\\/?[^>]+(>|$)/g, '')                      // Remove HTML tags\n        .replace(/\\s+/g, ' ')                                // Normalize whitespace\n        .trim();\n};\n\nconst updatedItems = items.map((item) => {\n    const data = item.json.data.map(cleanText);\n    return { ...item.json, data };\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2740,
        940
      ],
      "id": "6b9e8442-e339-4d07-98c0-4687e67b12d4",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"Header Links Scraper\"].json[\"data\"]; // Replace this with the field containing your HTML content\n\n// Function to strip HTML tags and clean the text\nconst extractPlainText = (html) => {\n    if (!html) return \"\";\n\n    // Remove script and style tags along with their content\n    const withoutScriptsAndStyles = html.replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, \"\")\n                                        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, \"\");\n\n    // Remove all remaining HTML tags\n    const strippedText = withoutScriptsAndStyles.replace(/<\\/?[^>]+(>|$)/g, \"\");\n\n    // Replace HTML entities with their plain-text equivalents\n    const decodedText = strippedText.replace(/&nbsp;/gi, \" \")\n                                    .replace(/&amp;/gi, \"&\")\n                                    .replace(/&lt;/gi, \"<\")\n                                    .replace(/&gt;/gi, \">\")\n                                    .replace(/&quot;/gi, \"\\\"\")\n                                    .replace(/&#39;/gi, \"'\");\n\n    // Replace multiple spaces, tabs, and newlines with a single space\n    const cleanedText = decodedText.replace(/\\s+/g, \" \").trim();\n\n    return cleanedText;\n};\n\n// Call the function to process the HTML content\nconst plainText = extractPlainText(htmlContent);\n\n// Return the plain text as the output of this node\nreturn {\n    plainText: plainText,\n};\n\n"
      },
      "id": "2ac41be7-67f4-48f2-bc06-5858eb5ebbe8",
      "name": "Remove HTML LinkedIn Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        680
      ]
    },
    {
      "parameters": {
        "content": "Most Relevant URL's",
        "height": 80,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3180,
        580
      ],
      "id": "f09a8603-f1d2-4bc6-8a4e-4212e0674dd2",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Pull Lead From Airtable,": {
      "main": [
        [
          {
            "node": "Header Links Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Variables": {
      "main": [
        [
          {
            "node": "Update Lead With Enriched Data,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Company Website": {
      "main": [
        [
          {
            "node": "Determine Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter HTML": {
      "main": [
        [
          {
            "node": "Turn X Items Into 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Header Links Scraper": {
      "main": [
        [
          {
            "node": "Remove HTML LinkedIn Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn X Items Into 1": {
      "main": [
        [
          {
            "node": "Determine Valuable URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Valuable URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Analyze Company Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove HTML LinkedIn Page": {
      "main": [
        [
          {
            "node": "Filter HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ac0a3eb-7b4c-439f-a459-90024efb5861",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be9861782fae15eac6af5bd3da39e0377359813f71b0e0ed19ed3a98eb035f79"
  },
  "id": "ImepiXfD9ZglRN8d",
  "tags": []
}