projects/lead-command-center/workflows/6_Full Builds/Full Build_SaaS/Skool___Full_Build___SaaS.json
{
  "name": "Skool | Full Build | SaaS",
  "nodes": [
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "d3d86f5e-c576-49a5-92cc-6460830bd1d9",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        200
      ],
      "webhookId": "80f46cdf-ef90-45da-9c65-a3737782e5aa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a723b17-b46e-4c1c-b051-e410bd3a101e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "not ready",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        120
      ],
      "id": "03e8be3a-732c-4aa8-80ac-245669e442ec",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        380,
        140
      ],
      "id": "e3f9c817-ca71-46a6-a58e-f60650509850",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (Object.keys($json).length === 0) {\n  // If the current item's JSON is empty, return a single object with \"not ready\" status.\n  return { json: { status: \"not ready\" } };\n} else {\n  // Otherwise, simply return the current item unchanged.\n  return { json: $json };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        120
      ],
      "id": "cd1c0379-9b6e-4fd1-982e-3dc3fc29046a",
      "name": "Verify Dataset Availability"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $('Apollo Lead Scraper').item.json.data.defaultDatasetId }}/items?format=json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [INPUT YOUR API HERE]"
            }
          ]
        },
        "options": {}
      },
      "id": "af3acaea-3c8c-479c-865b-e6aac6aa8ad8",
      "name": "Retrieve Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        120
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        120
      ],
      "id": "9d51c328-71fc-498a-a61f-e34d7d6e2d1c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/curious_coder~apollo-io-scraper/runs?token=[INPUT YOUR API HERE]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [INPUT YOUR API HERE]"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[INPUT APIFY JSON BODY HERE]",
        "options": {}
      },
      "id": "b81f68a6-82d6-4181-b412-8580e31ab7ab",
      "name": "Apollo Lead Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Link to Apify scraper: https://console.apify.com/actors/3de5DRuKU05FLhk22/input",
        "height": 80,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d83d7505-7eff-4b4e-a132-4aaae2870b63",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appagq2sJMfQqekZv",
          "mode": "list",
          "cachedResultName": "Skool | Leads",
          "cachedResultUrl": "https://airtable.com/appagq2sJMfQqekZv"
        },
        "table": {
          "__rl": true,
          "value": "tble3Uzh7FGpVFGm9",
          "mode": "list",
          "cachedResultName": "Leads | Outbound",
          "cachedResultUrl": "https://airtable.com/appagq2sJMfQqekZv/tble3Uzh7FGpVFGm9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "First Name": "={{ $json.first_name }}",
            "Last Name": "={{ $json.last_name }}",
            "Lead Status": "Yet To Be Enriched",
            "LinkedIn URL": "={{ $json.linkedin_url }}",
            "Title": "={{ $json.title }}",
            "Email Address": "={{ $json.email }}",
            "Company Name": "={{ $json.organization_name }}",
            "Location": "={{ $json.account.city }}, {{ $json.account.state }}, {{ $json.account.country }}",
            "LinkedIn Company URL": "={{ $json.account.linkedin_url }}",
            "Company Website": "={{ $json.account.website_url }}",
            "Time At Company": "=",
            "Industry": "={{ $json.account.industries[0] }}",
            "Instantly Camp. ID": "id=538fb130-ca56-444f-9784-dc0c662e5ade"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yet To Be Enriched",
                  "value": "Yet To Be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Warm",
                  "value": "Warm"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Client Closed",
                  "value": "Client Closed"
                },
                {
                  "name": "Lost ",
                  "value": "Lost "
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cleaned Company Name",
              "displayName": "Cleaned Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Company URL",
              "displayName": "LinkedIn Company URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Google Meet URL",
              "displayName": "Google Meet URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1500,
        20
      ],
      "id": "76231f8c-c96d-4c28-ad02-916b2decc622",
      "name": "Add Leads to CRM",
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.email }}",
        "options": {
          "historySize": 10000
        }
      },
      "id": "119bbc58-2c96-4463-bfc5-b56d56abe9e2",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1280,
        20
      ]
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appagq2sJMfQqekZv",
          "mode": "list",
          "cachedResultName": "Skool | Leads",
          "cachedResultUrl": "https://airtable.com/appagq2sJMfQqekZv"
        },
        "table": {
          "__rl": true,
          "value": "tble3Uzh7FGpVFGm9",
          "mode": "list",
          "cachedResultName": "Leads | Outbound",
          "cachedResultUrl": "https://airtable.com/appagq2sJMfQqekZv/tble3Uzh7FGpVFGm9"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "id": "0424b3de-b271-4540-8379-8370cb4aa8ea",
      "name": "Pull Lead From Airtable,",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      },
      "notes": "{{ $json.query.recordId }}"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7540d0aa-8723-4dd0-9c11-f9ad60a4fa38",
              "leftValue": "={{ $json.Location }}",
              "rightValue": "United States",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2bbaba60-d4c6-42f5-9c12-6e4cbd47b63f",
      "name": "US: Yes or No?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        660
      ]
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "id": "={{ $('Pull Lead From Airtable,').item.json.id }}"
      },
      "id": "d8154607-bd39-4c8b-8284-842bf20d5bdb",
      "name": "Delete Lead - Not US",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      },
      "notes": "{{ $json.query.recordId }}"
    },
    {
      "parameters": {
        "path": "f303579c-55e0-4284-80d4-28635dac768f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        660
      ],
      "id": "6ee978ab-b96e-456e-b50d-1a60d3b13d91",
      "name": "Webhook",
      "webhookId": "f303579c-55e0-4284-80d4-28635dac768f"
    },
    {
      "parameters": {
        "url": "={{ $json['LinkedIn Company URL'] }}",
        "options": {}
      },
      "id": "74c9aa10-8846-41ab-b4a3-5efb19f4d8fa",
      "name": "LinkedIn Company Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"LinkedIn Company Scraper\"].json[\"data\"]; // Replace this with the field containing your HTML content\n\n// Function to strip HTML tags and clean the text\nconst extractPlainText = (html) => {\n    if (!html) return \"\";\n\n    // Remove script and style tags along with their content\n    const withoutScriptsAndStyles = html.replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, \"\")\n                                        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, \"\");\n\n    // Remove all remaining HTML tags\n    const strippedText = withoutScriptsAndStyles.replace(/<\\/?[^>]+(>|$)/g, \"\");\n\n    // Replace HTML entities with their plain-text equivalents\n    const decodedText = strippedText.replace(/&nbsp;/gi, \" \")\n                                    .replace(/&amp;/gi, \"&\")\n                                    .replace(/&lt;/gi, \"<\")\n                                    .replace(/&gt;/gi, \">\")\n                                    .replace(/&quot;/gi, \"\\\"\")\n                                    .replace(/&#39;/gi, \"'\");\n\n    // Replace multiple spaces, tabs, and newlines with a single space\n    const cleanedText = decodedText.replace(/\\s+/g, \" \").trim();\n\n    return cleanedText;\n};\n\n// Call the function to process the HTML content\nconst plainText = extractPlainText(htmlContent);\n\n// Return the plain text as the output of this node\nreturn {\n    plainText: plainText,\n};\n\n"
      },
      "id": "aea9bb85-c465-4d59-948b-ed92178ba152",
      "name": "Remove HTML LinkedIn Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91dd9b4c-3c7c-46bb-a2e6-e9af0e72c425",
              "leftValue": "={{ $json.message.content.is_b2b_focused }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        500
      ],
      "id": "6e585d45-3ca7-490d-840a-fff9d438bb33",
      "name": "B2B?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c95f34f-453c-49f5-9e9a-24a4962e64c1",
              "leftValue": "={{ $json.message.content.number_of_employees }}",
              "rightValue": 51,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        400
      ],
      "id": "504f1d15-06e2-4904-b3e9-d4a581b9bbd1",
      "name": "<50?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Not Qualified"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1640,
        680
      ],
      "id": "51a68cdf-2620-4d3d-b06c-bbdd98c5aa93",
      "name": "Update Lead - Not Qualified",
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Not Qualified"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1860,
        600
      ],
      "id": "5a5060b5-00c4-458b-9dc9-cdbbeeff9e1d",
      "name": "Update Lead - Not Qualified1",
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Not Qualified"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2080,
        500
      ],
      "id": "ae7e66b4-3cb2-450d-85ec-6abcba653477",
      "name": "Update Lead - Not Qualified2",
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:**  \nYou are an expert in professional business analysis and LinkedIn data extraction.  \n\n**Task:**  \nAnalyze the scraped LinkedIn profile data of a company and produce a **high-quality, detailed company report** for CRM upload. Your analysis must be **precise, fact-based, structured, and derived entirely from the provided data** while also including **recent company posts with timestamps**. Ensure that the **exact employee count is extracted instead of a company size range.**  \n\n---\n\n### **Output Structure:**  \nYour response must be a **single string titled \"Company LinkedIn\"** and divided into exactly **five** clearly labeled sections:  \n\n#### **1. Company Overview:**  \n- Provide a **concise yet comprehensive summary** of the company.  \n- Include the **official name, industry, headquarters location, and founding year** if available.  \n- Extract the **exact employee count** from the profile (e.g., \"20 employees\" instead of \"11-50 employees\"). Look for \"Follow View all X employees.\"\n- Summarize the company’s **mission statement** and its **core value proposition**.  \n- Highlight its **business type (Privately Held, Public, Nonprofit, etc.)**.  \n\n#### **2. Products, Services, and Technology:**  \n- Summarize the **company’s key offerings**, including **products, services, and technology**.  \n- List **notable software platforms, SaaS solutions, or proprietary technologies** the company uses or sells.  \n- If available, include any **strategic advantages or differentiators** (e.g., AI-powered, automation-focused, integration-ready).  \n\n#### **3. Business Operations and Market Presence:**  \n- List the company’s **primary office locations**, including headquarters and any additional branches.  \n- Summarize any **recent funding rounds, major investments, or key investors** if applicable.  \n- Mention any **notable partnerships, affiliations, or alliances** that contribute to their market position.  \n- If applicable, highlight **major clients, certifications, awards, or industry recognitions**.  \n\n#### **4. Recent Announcements and Market Activity:**  \n- Summarize **recent press releases, product launches, partnerships, or growth milestones**.  \n- If hiring data is available, note whether the company is **actively recruiting**.  \n- Capture any **noteworthy social engagement** (e.g., G2 rankings, LinkedIn hiring growth, conference participation).  \n\n#### **5. Company Posts (Including Timestamps):**  \n- Extract all **company posts**, including **the date they were published**.  \n- Summarize the **core message** of each post.  \n- Include links if available.  \n\n**Format for Posts Section:**  \n📅 **[Date]** - **Post Title and FULL Post**  \nPost ALL content.  \n\n---\n\n### **Additional Guidelines:**  \n- **Extract and use the exact employee count** instead of a company size range.  \n- **The analysis must be concise, fact-based, and structured** without assumptions or filler content.  \n- **Use exact data where available** (e.g., \"Founded in 2020\" instead of \"several years ago\").  \n- **Maintain a professional tone and structured formatting** for easy CRM readability.  ",
              "role": "system"
            },
            {
              "content": "=Input: {{ $('Remove HTML LinkedIn Page').item.json.plainText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3500,
        300
      ],
      "id": "624fa1f2-c133-41a0-94e9-cf105eb63baa",
      "name": "Analyze Company LinkedIn",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      },
      "notes": "#### **5. Company Posts (Including Timestamps):**  \n- Extract all **company posts**, including **the date they were published**.  \n- Summarize the **core message** of each post.  \n- Include links if available.  \n\n**Format for Posts Section:**  \n📅 **[Date]** - **Post Title and FULL Post**  \nPost ALL content.  "
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You will receive raw text scraped from a company's LinkedIn page. Your task is to analyze **only** the \"About Us\" section, which can be identified by the following pattern:\n\n- Starts with: `\"Follow View all X employees Report this company About us...\"`\n- Ends before: `\"Website [company_website]\"`  \n  (The website URL will vary per company.)\n\nYour goal is to determine **if this company is a bad-fit SaaS company** that should be excluded from outreach.\n\n### **SaaS Companies to AVOID:**\n1. **Freemium or Free-First SaaS**  \n   - Indicators: Mentions of \"free forever,\" \"freemium model,\" \"self-serve,\" \"no credit card required.\"  \n   - Exclusions: SaaS with **clear sales-driven motion** (e.g., mentions of \"sales team,\" \"book a demo,\" \"enterprise customers\").  \n\n2. **Highly Technical or Developer-First SaaS**  \n   - Indicators: Mentions of \"API-first,\" \"open-source,\" \"developer platform,\" \"DevOps,\" \"for engineers by engineers.\"  \n   - Exclusions: If it explicitly targets **business users** like sales, HR, finance, or compliance teams.  \n\n3. **SaaS Marketplaces & Aggregators**  \n   - Indicators: Mentions of \"connecting buyers and sellers,\" \"marketplace,\" \"aggregator,\" \"directory of providers.\"  \n   - Exclusions: Vertical SaaS tools that solve **one industry-specific problem** instead of just listing vendors.  \n\n4. **VC-Backed Growth SaaS Focused on Product-Led Growth (PLG)**  \n   - Indicators: Mentions of \"viral adoption,\" \"user-led growth,\" \"no sales team,\" \"self-serve onboarding.\"  \n   - Exclusions: Sales-led SaaS with **dedicated SDRs or sales teams** for B2B deals.  \n\n5. **Ultra-Niche SaaS with No Clear Market Size**  \n   - Indicators: Hyper-specific tools with **small, obscure audiences** (e.g., \"software for dog breeders,\" \"AI-powered pigeon tracking\").  \n   - Exclusions: If the SaaS serves **a scalable industry** like logistics, legal, cybersecurity, or finance.  \n\n---\n\n### **Your Task:**\n1. **Does this company fall into any of the SaaS categories to avoid?**  \n   - If **yes**, return `\"yes\"` and specify which category applies.  \n   - If **no**, return `\"no\"`.  \n\n2. **Does this company explicitly sell to businesses (B2B)?**  \n   - Look for phrases like \"helping businesses,\" \"enterprise clients,\" \"corporate teams,\" \"for HR, sales, finance teams.\"  \n   - If it mainly targets consumers (B2C) or freelancers, return `\"no\"`.  \n\n3. **Extract the exact number of employees at the company.**  \n   - This number appears in the phrase: `\"Follow View all X employees\"`.  \n   - Extract **only the number X** and return it as an integer.  \n\n---\n\n### **Expected JSON Output:**\n```json\n{\n  \"is_bad_fit_saas\": \"yes/no\",\n  \"bad_fit_reason\": \"If yes, specify which category (e.g., 'Freemium SaaS', 'Marketplace SaaS').\",\n  \"is_b2b_focused\": \"yes/no\",\n  \"b2b_focus_explanation\": \"Brief reason why the company is or isn’t B2B-focused.\",\n  \"number_of_employees\": X\n}"
            },
            {
              "content": "={{ $json.plainText }}\n- Today's date: {{$now}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "84276e35-4225-44a5-8d00-d3741fe04a79",
      "name": "Saas Fit Qualifier",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5ec659a-7db9-4f47-97e1-b9a5365b9b0f",
              "leftValue": "={{ $json.message.content.is_bad_fit_saas }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        580
      ],
      "id": "c95babec-1155-43f0-b349-25c7c400f6f3",
      "name": "Bad Fit?"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $node[\"Header Links Scraper\"].json.data; // Reference the correct node\n\nfunction extractHeaderLinks(htmlString) {\n    const headerLinks = htmlString.match(/<a[^>]+href=[\"'](.*?)[\"'][^>]*>(.*?)<\\/a>/g);\n    \n    if (!headerLinks) return [];\n\n    return headerLinks.map(link => {\n        const urlMatch = link.match(/href=[\"'](.*?)[\"']/);\n        const textMatch = link.match(/>(.*?)<\\/a>/);\n        return {\n            text: textMatch ? textMatch[1].trim() : '',\n            url: urlMatch ? urlMatch[1] : ''\n        };\n    }).filter(item => item.url); // Remove any empty URLs\n}\n\nreturn extractHeaderLinks(inputData);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        300
      ],
      "id": "c2349bcf-b314-4572-bcea-8d65e488fc4f",
      "name": "Filter HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{(() => {\n  const website = $('Pull Lead From Airtable,').item.json['Company Website'];\n  const email = $('Pull Lead From Airtable,').item.json['Email Address'];\n  // If 'Company Website' is empty, derive from 'Email Address'\n  return website || `https://${email.split('@')[1]}`;\n})()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5ed291bf-959e-4d58-bc40-48f890614c22",
      "name": "Header Links Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  mergedData: items.map(item => item.json.url).join(\", \")\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        300
      ],
      "id": "2e1e4202-75a1-4d91-9b74-4aa4b3682fe8",
      "name": "Turn X Items Into 1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are given a list of **URLs extracted from a company's website**. Your task is to identify any URLs that are **likely to direct to a pricing page**.\n\n### **Selection Criteria for Pricing Pages:**  \nA URL is **likely a pricing page** if it includes keywords such as:  \n- `/pricing`  \n- `/plans`  \n- `/subscriptions`  \n- `/cost`  \n- `/fees`  \n- `/packages`  \n\n### **Output Requirements:**  \n- **Return only the paths of URLs that match the criteria** (e.g., `/pricing` instead of `https://example.com/pricing`).  \n- If **no pricing-related URLs are found, return an empty list**.  \n- The response must be formatted in **structured JSON**.\n\n### **Structured JSON Output Format:**  \n```json\n{\n  \"pricing_urls\": [\n    \"/<pricing-url-1>\",\n    \"/<pricing-url-2>\"\n  ]\n}\n```\n\n### **Example Input (List of URLs):**  \n```json\n[\n  \"https://example.com/about\",\n  \"https://example.com/pricing\",\n  \"https://example.com/platform\",\n  \"https://example.com/contact\",\n  \"https://example.com/subscriptions\"\n]\n```\n\n### **Expected Output:**  \n```json\n{\n  \"pricing_urls\": [\n    \"/pricing\",\n    \"/subscriptions\"\n  ]\n}\n```\n\n### **Important Notes:**  \n- The **domain should be stripped**, and only the path should be returned.  \n- The output must **strictly follow the structured JSON format above** with no extra text or explanations.  \n- If multiple pricing-related URLs exist, **return all matching entries**.  \n``` "
            },
            {
              "content": "={{ $json.mergedData }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2920,
        300
      ],
      "id": "b6a845d5-af86-4cdc-a825-2c33e3666dad",
      "name": "Determine Valuable URLs",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.pricing_urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2520,
        500
      ],
      "id": "1c192d4b-eb4d-4654-a945-e8f388f89ea0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $('Pull Lead From Airtable,').first().json['Company Website'] }}{{ $json['message.content.pricing_urls'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        500
      ],
      "id": "9616e808-ad6d-46da-92e2-2de6c19f8e89",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2960,
        500
      ],
      "id": "8edde96a-55b6-4352-a031-92bbff0a9e7f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const htmlContent = $node[\"Header Links Scraper\"].json[\"data\"]; // Replace this with the field containing your HTML content\n\n// Function to strip HTML tags and clean the text\nconst extractPlainText = (html) => {\n    if (!html) return \"\";\n\n    // Remove script and style tags along with their content\n    const withoutScriptsAndStyles = html.replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, \"\")\n                                        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, \"\");\n\n    // Remove all remaining HTML tags\n    const strippedText = withoutScriptsAndStyles.replace(/<\\/?[^>]+(>|$)/g, \"\");\n\n    // Replace HTML entities with their plain-text equivalents\n    const decodedText = strippedText.replace(/&nbsp;/gi, \" \")\n                                    .replace(/&amp;/gi, \"&\")\n                                    .replace(/&lt;/gi, \"<\")\n                                    .replace(/&gt;/gi, \">\")\n                                    .replace(/&quot;/gi, \"\\\"\")\n                                    .replace(/&#39;/gi, \"'\");\n\n    // Replace multiple spaces, tabs, and newlines with a single space\n    const cleanedText = decodedText.replace(/\\s+/g, \" \").trim();\n\n    return cleanedText;\n};\n\n// Call the function to process the HTML content\nconst plainText = extractPlainText(htmlContent);\n\n// Return the plain text as the output of this node\nreturn {\n    plainText: plainText,\n};\n\n"
      },
      "id": "b92451af-a40a-49de-a695-d873eb06ea7d",
      "name": "Remove HTML From Homepage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst cleanText = (html) => {\n    return html\n        .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')  // Remove scripts\n        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')    // Remove styles\n        .replace(/<!--[\\s\\S]*?-->/g, '')                     // Remove comments\n        .replace(/<\\/?[^>]+(>|$)/g, '')                      // Remove HTML tags\n        .replace(/\\s+/g, ' ')                                // Normalize whitespace\n        .trim();\n};\n\nconst updatedItems = items.map((item) => {\n    const data = item.json.data.map(cleanText);\n    return { ...item.json, data };\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        500
      ],
      "id": "38a74f49-02ec-48a1-84e9-6ec0f849159e",
      "name": "Filter HTML From Webpage"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56718f79-40c1-4e89-9b24-abba356953f0",
              "leftValue": "={{ $json.message.content.pricing_urls }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3280,
        300
      ],
      "id": "0aea73c4-474a-4860-bba0-6b59c91a8cc0",
      "name": "Pricing URL?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're right to challenge it—let’s optimize for **maximum accuracy and effectiveness** while keeping it concise. Here’s the **best possible prompt** to filter out low-value SaaS leads based on pricing page analysis.\n\n---\n\n### **Optimized Prompt for SaaS Pricing Page Analysis**  \n\n```plaintext\nYou will receive raw text scraped from a company's **pricing page(s)**. Your task is to analyze the pricing details and determine if the company is a **good lead for outbound lead generation** based on its pricing model.\n\n### **SaaS Companies to AVOID Based on Pricing:**\n1. **Freemium or Free-First SaaS**  \n   - Indicators: Mentions of \"free forever,\" \"freemium model,\" \"self-serve,\" \"no credit card required,\" \"free for individuals,\" or \"100% free.\"  \n   - Exclusions: SaaS with **enterprise pricing tiers** or mentions of \"contact sales for pricing.\"\n\n2. **Low-Ticket SaaS (Under $50 per month per user)**  \n   - Indicators: Pricing tiers showing plans like \"$9/month,\" \"$19/user,\" or anything **under $50/month per user**.  \n   - Exclusions: SaaS that sells **multi-user or enterprise plans** with **annual pricing above $1,000.**\n\n3. **Self-Serve SaaS With No Sales Process (Product-Led Growth - PLG)**  \n   - Indicators: \"Start for free,\" \"Upgrade anytime,\" \"Self-serve onboarding,\" \"No sales calls needed.\"  \n   - Exclusions: SaaS with **\"Request a Demo\" or \"Enterprise Plan\"** mentions.\n\n4. **SaaS Marketplaces or Aggregators**  \n   - Indicators: Pricing for **listing services, transaction fees, or vendor subscriptions** (e.g., \"$29 per listing,\" \"Marketplace transaction fee of 5%\").  \n   - Exclusions: If it offers **standalone SaaS products** rather than just an aggregator.\n\n---\n\n### **Your Task:**\nAnalyze the scraped text and return a structured JSON object with the following details:\n\n1. **Is this a bad-fit SaaS company based on pricing?**  \n   - If **yes**, return `\"yes\"` and specify **which category applies**.  \n   - If **no**, return `\"no\"`.  \n\n2. **What is the lowest listed price on the page (if available)?**  \n   - Extract the **lowest** pricing value from the text (e.g., \"$9/month,\" \"$49 per user\").  \n   - If no price is found, return `\"N/A\"`.  \n\n3. **Does this company offer enterprise or sales-led pricing?**  \n   - Look for phrases like **\"Contact Sales,\" \"Request a Demo,\" \"Custom Enterprise Plans.\"**  \n   - If found, return `\"yes\"`; otherwise, return `\"no\"`.  \n\n4. **Does the pricing model indicate that the company relies primarily on self-service?**  \n   - If mentions of **\"Sign up instantly,\" \"Self-serve,\" \"No sales calls needed,\"** or similar are present, return `\"yes\"`.  \n   - Otherwise, return `\"no\"`.  \n\n---\n\n### **Expected JSON Output:**\n```json\n{\n  \"is_bad_fit_saas\": \"yes/no\",\n  \"bad_fit_reason\": \"If yes, specify which category (e.g., 'Freemium SaaS', 'Low-Ticket SaaS').\",\n  \"lowest_price\": \"Extracted lowest price (e.g., '$19/month') or 'N/A' if not found.\",\n  \"has_enterprise_pricing\": \"yes/no\",\n  \"is_self_serve_saas\": \"yes/no\"\n}\n```\n\n---\n\n### **Example Input (Scraped Pricing Page Text):**\n```\nStarter Plan: $9/month\nPro Plan: $39/month\nEnterprise Plan: Contact sales for pricing.\n```\n\n### **Expected Output:**\n```json\n{\n  \"is_bad_fit_saas\": \"yes\",\n  \"bad_fit_reason\": \"Low-Ticket SaaS\",\n  \"lowest_price\": \"$9/month\",\n  \"has_enterprise_pricing\": \"yes\",\n  \"is_self_serve_saas\": \"no\"\n}\n```\n\n---\n\n### **Why This is the Best Possible Prompt:**\n✅ **More precise filtering**: It distinguishes between self-serve models and sales-driven SaaS.  \n✅ **Faster, cleaner output**: Every response is structured and actionable.  \n✅ **Eliminates edge cases**: Even if pricing is unclear, it flags self-service reliance.  \n✅ **Better decision-making**: The `\"has_enterprise_pricing\"` flag allows leads to be saved even if low-ticket plans exist.  \n\nThis version ensures that your **lead gen outreach is laser-targeted toward high-value SaaS companies.** 🚀 Let me know if you need tweaks!",
              "role": "system"
            },
            {
              "content": "=Input: {{ $('Remove HTML From Homepage').first().json.plainText }}, {{ $json.data[0] }}, {{ $json.data[1] }}, {{ $json.data[2] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3400,
        500
      ],
      "id": "e9f70182-b6cc-4243-8fef-753877014ea3",
      "name": "Determine Pricing",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Not Qualified"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3960,
        660
      ],
      "id": "850a7d27-3c14-4b29-837c-fec94ead9c79",
      "name": "Update Lead - Low Ticket",
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:**  \nYou are an expert in professional business analysis and LinkedIn data extraction.  \n\n**Task:**  \nAnalyze the scraped LinkedIn profile data of a company and produce a **high-quality, detailed company report** for CRM upload. Your analysis must be **precise, fact-based, structured, and derived entirely from the provided data** while also including **recent company posts with timestamps**. Ensure that the **exact employee count is extracted instead of a company size range.**  \n\n---\n\n### **Output Structure:**  \nYour response must be a **single string titled \"Company LinkedIn\"** and divided into exactly **five** clearly labeled sections:  \n\n#### **1. Company Overview:**  \n- Provide a **concise yet comprehensive summary** of the company.  \n- Include the **official name, industry, headquarters location, and founding year** if available.  \n- Extract the **exact employee count** from the profile (e.g., \"20 employees\" instead of \"11-50 employees\"). Look for \"Follow View all X employees.\"\n- Summarize the company’s **mission statement** and its **core value proposition**.  \n- Highlight its **business type (Privately Held, Public, Nonprofit, etc.)**.  \n\n#### **2. Products, Services, and Technology:**  \n- Summarize the **company’s key offerings**, including **products, services, and technology**.  \n- List **notable software platforms, SaaS solutions, or proprietary technologies** the company uses or sells.  \n- If available, include any **strategic advantages or differentiators** (e.g., AI-powered, automation-focused, integration-ready).  \n\n#### **3. Business Operations and Market Presence:**  \n- List the company’s **primary office locations**, including headquarters and any additional branches.  \n- Summarize any **recent funding rounds, major investments, or key investors** if applicable.  \n- Mention any **notable partnerships, affiliations, or alliances** that contribute to their market position.  \n- If applicable, highlight **major clients, certifications, awards, or industry recognitions**.  \n\n#### **4. Recent Announcements and Market Activity:**  \n- Summarize **recent press releases, product launches, partnerships, or growth milestones**.  \n- If hiring data is available, note whether the company is **actively recruiting**.  \n- Capture any **noteworthy social engagement** (e.g., G2 rankings, LinkedIn hiring growth, conference participation).  \n\n---\n\n### **Additional Guidelines:**  \n- **Extract and use the exact employee count** instead of a company size range.  \n- **The analysis must be concise, fact-based, and structured** without assumptions or filler content.  \n- **Use exact data where available** (e.g., \"Founded in 2020\" instead of \"several years ago\").  \n- **Maintain a professional tone and structured formatting** for easy CRM readability.  \n\nHere’s the updated **JSON structure** that ensures **all funding-related details** are captured in a **single text field**, including **amount, round type, date, investors, purpose, remarks, or any other details from the input.**  \n\n---\n\n### **Final JSON Output Structure:**\n```json\n{\n  \"Company LinkedIn\": {\n    \"Company Overview\": {\n      \"official_name\": \"Company Name\",\n      \"industry\": \"Industry\",\n      \"headquarters_location\": \"City, Country\",\n      \"founded_year\": \"YYYY\",\n      \"employee_count\": X,\n      \"business_type\": \"Privately Held / Public / Nonprofit / Other\",\n      \"mission_statement\": \"Brief company mission statement\",\n      \"core_value_proposition\": \"What makes the company unique\"\n    },\n    \"Products, Services, and Technology\": {\n      \"key_offerings\": [\n        \"Product/Service 1\",\n        \"Product/Service 2\",\n        \"Product/Service 3\"\n      ],\n      \"notable_technology\": [\n        \"Technology 1\",\n        \"Technology 2\",\n        \"Technology 3\"\n      ],\n      \"strategic_advantages\": \"Key differentiators such as AI-powered, automation-focused, etc.\"\n    },\n    \"Business Operations and Market Presence\": {\n      \"primary_office_locations\": [\n        \"Headquarters - City, Country\",\n        \"Branch Office 1 - City, Country\",\n        \"Branch Office 2 - City, Country\"\n      ],\n      \"funding_information\": \"Full funding details from input text, including amount, round type, investors, date, purpose, use of funds, and any other available data.\",\n      \"strategic_partnerships\": [\n        \"Partner 1\",\n        \"Partner 2\"\n      ],\n      \"notable_clients\": [\n        \"Client 1\",\n        \"Client 2\"\n      ],\n      \"certifications_awards\": [\n        \"Certification 1\",\n        \"Award 1\"\n      ]\n    },\n    \"Recent Announcements and Market Activity\": {\n      \"recent_news\": [\n        {\n          \"title\": \"News Title 1\",\n          \"date\": \"YYYY-MM-DD\",\n          \"summary\": \"Brief summary of the announcement\"\n        },\n        {\n          \"title\": \"News Title 2\",\n          \"date\": \"YYYY-MM-DD\",\n          \"summary\": \"Brief summary of the announcement\"\n        }\n      ],\n      \"hiring_activity\": \"Actively recruiting / No hiring activity mentioned\",\n      \"market_engagement\": [\n        \"G2 rankings, LinkedIn hiring growth, conference participation, etc.\"\n      ]\n    }\n  }\n}\n```\n\n---\n\n### **Example Output for `\"funding_information\"` Field:**  \n```json\n\"funding_information\": \"On March 2024, Company X secured $25M in a Series B funding round led by Sequoia Capital and Andreessen Horowitz. The funding will be used to expand into European markets, accelerate AI-driven product development, and scale their sales team. Other investors include Tiger Global and Lightspeed Ventures. This marks a significant milestone as the company aims to double its customer base by the end of the year.\"\n```",
              "role": "system"
            },
            {
              "content": "=Input: {{ $('Remove HTML LinkedIn Page').first().json.plainText }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3960,
        500
      ],
      "id": "a510da6a-01ec-4e7b-811e-ba002c54fc07",
      "name": "Analyze Company LinkedIn.",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      },
      "notes": "#### **5. Company Posts (Including Timestamps):**  \n- Extract all **company posts**, including **the date they were published**.  \n- Summarize the **core message** of each post.  \n- Include links if available.  \n\n**Format for Posts Section:**  \n📅 **[Date]** - **Post Title and FULL Post**  \nPost ALL content.  "
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt: Extract Structured Company Variables for Cold Outreach**  \n\nExtract the following structured company variables from the provided LinkedIn profile text. The extracted values must be **clear, concise, and highly personalized**, ensuring that when they are inserted into the sentence below, they feel **tailored, relevant, and engaging** to the recipient:\n\n> **We help [CompanyOverview] SaaS teams land meetings with [ICPofLead] dealing with [PainPointLeadSolves], using AI-driven outreach that delivers decision-makers, not just replies.\n\nFor another [PrimaryServices] SaaS, we booked 37 calls in a month—12 converted within 30 days, adding $83K in revenue.**\n\n### **Guidelines for Extraction & Personalization:**  \n- **Make it feel like a human wrote it.** The phrasing should be smooth, natural, and sound like a real cold email.  \n- **Ensure relevance to the lead.** The output must reflect what matters to them—their niche, challenges, and goals.  \n- **No vague or empty outputs.** If information is unclear, **infer the closest logical answer based on context** rather than returning `\"not listed\"` unless absolutely necessary.  \n- **Keep it concise.** Each value should be short but descriptive enough to make an impact.  \n\n---\n\n### **Updated Variables to Extract & Formatting Rules:**  \n\n#### **1. CompanyOverview**  \n- A **short, compelling description** of the company’s **core expertise**, framed in a way that fits naturally into the sentence.  \n- **3 words maximum.** Must fit: **We help [CompanyOverview] SaaS teams**  \n\n#### **2. ICPofLead**  \n- The **ideal customer profile (ICP)**, expressed as a **specific, compelling audience** that fits naturally in the sentence.  \n- **4 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **3. PainPointLeadSolves**  \n- The **core problem** the company helps solve, framed **as something the prospect deeply cares about.**  \n- **5 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **4. PrimaryServices**  \n- The **main service offering**, phrased to **sound valuable and high-impact** rather than just a category.  \n- **4 words maximum.** Must fit: **For another [PrimaryServices] SaaS**  \n\n#### **5. Industry**  \n- The **exact industry the company operates in**, phrased naturally.  \n- Must fit: **\"With [Industry] becoming more competitive…\"**  \n- Example: `\"With B2B SaaS becoming more competitive...\"`\n\n---\n\n### **Final JSON Output Format:**\n```json\n{\n  \"CompanyOverview\": \"...\",\n  \"ICPofLead\": \"...\",\n  \"PainPointLeadSolves\": \"...\",\n  \"PrimaryServices\": \"...\",\n  \"Industry\": \"...\"\n}\n```\n",
              "role": "system"
            },
            {
              "content": "=Input: {{ $json.text }}\nToday's date: {{ $now }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4740,
        500
      ],
      "id": "d6ad172e-92b6-4a2d-94c1-d2ea6c93ba5b",
      "name": "Determine Variables.",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Funding-Based Personalized Email Opener Prompt**  \n\n```plaintext\nYou are an expert in structured text generation. Your task is to generate a **personalized email opener** using the provided funding information while ensuring proper grammar and natural flow.\n\n### **Input Data:**  \nYou will receive the following details about a company's funding:  \n- **Company Name**: The name of the company.  \n- **Funding Amount**: The amount raised (e.g., \"$10M\", \"$50M Series B\").  \n- **Funding Round**: The round of funding (e.g., \"Seed\", \"Series A\", \"Series B\").  \n- **Date of Funding**: The approximate time of the funding event (e.g., \"last month\", \"Q4 2023\").  \n- **Investors (if available)**: The names of key investors (e.g., \"Sequoia Capital, Andreessen Horowitz\").  \n\n### **Instructions:**  \n- The **opener should acknowledge the funding event** in a natural, conversational way.  \n- Ensure **proper capitalization of the company name** (e.g., \"Acme Corp\" stays \"Acme Corp\").  \n- Keep the sentence **engaging but concise**, ensuring it reads like a natural cold email.  \n- If no investors are provided, exclude any mention of them.  \n- The response must be in **structured JSON format** as shown below.  \n\n---\n\n### **Sentence Template Examples:**  \n- **With investors**:  \n  *\"Congrats on raising $15M in your Series A with Sequoia Capital—exciting times for [Company]! Curious, how are you planning to scale your outbound efforts?\"*  \n\n- **Without investors**:  \n  *\"Saw that [Company] recently raised $10M in Series A—big milestone! How are you thinking about outbound at this stage?\"*  \n\n- **Older funding round**:  \n  *\"Noticed that [Company] closed a Series B round in Q4 2023—must be a big year for growth! Curious, how are you handling lead generation right now?\"*  \n\n---\n\n### **Expected JSON Output Format:**  \n```json\n{\n  \"cold_email_opener\": \"Congrats on raising $10M in your Series A with Sequoia Capital—exciting times for [Company]! Curious, how are you planning to scale your outbound efforts?\"\n}\n```  \n\n### **Additional Notes:**  \n- **Personalized but not too casual**—aim for professional but engaging.  \n- **Ensure the company name is correctly capitalized**  \n- **Strictly return only the JSON object**—no extra text or formatting.  \n```"
            },
            {
              "content": "=Company Name: {{ $json.message.content }}\nFunding Info: {{ $('Analyze Company LinkedIn.').item.json.message.content['Company LinkedIn']['Business Operations and Market Presence'].funding_information }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "cbe65e71-a433-43a1-be12-626b93e5b178",
      "name": "Write Personalized Line.",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in refining company names for everyday use in professional email communication. When given a company name, extract and output only the core term that employees and customers naturally use—stripping away legal designations (like \"LLC,\" \"Inc.,\" \"Ltd.\") and extraneous suffixes (such as \"and Co\" or similar). Ensure the resulting name is concise, informal, and exactly as it would be referred to in day-to-day conversation.\n\n**Note:** Output only the cleaned company name."
            },
            {
              "content": "=Scraped Company Name: {{ $('Pull Lead From Airtable,').first().json['Company Name'] }}\nDomain Name: {{ $('Pull Lead From Airtable,').first().json['Company Website'] }}\nScrape LinkedIn: {{ $('Remove HTML From Homepage').first().json.plainText }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f706f171-e792-49b9-b467-21980261f463",
      "name": "Clean Company Name.",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5120,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst text = items.map((item) => JSON.stringify(item.json)).join(\" \");\nreturn { text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        500
      ],
      "id": "491f1167-42a9-417b-a4ed-b1e3ce94335f",
      "name": "JSON Into Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f2ff345-3ed3-4a28-8b84-771592d62826",
              "leftValue": "={{ $json.message.content.is_bad_fit_saas }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        500
      ],
      "id": "03dfedbf-1ce1-40bd-a7aa-aafbe8d63a68",
      "name": "Low Ticket?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e25e642-5664-4e24-af37-7760810ceb49",
              "leftValue": "={{ $('Analyze Company LinkedIn.').item.json.message.content['Company LinkedIn']['Business Operations and Market Presence'].funding_information }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4520,
        500
      ],
      "id": "2dba759a-d8e7-4947-8caa-c8ef9cdb4075",
      "name": "Funding?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt: Extract Structured Company Variables for Cold Outreach**  \n\nExtract the following structured company variables from the provided LinkedIn profile text. The extracted values must be **clear, concise, and highly personalized**, ensuring that when they are inserted into the sentence below, they feel **tailored, relevant, and engaging** to the recipient:\n\n> **\"We help [CompanyOverview] SaaS teams land meetings with [ICPofLead] dealing with [PainPointLeadSolves], For another [PrimaryServices] SaaS, we booked X calls.\"**\n\n### **Guidelines for Extraction & Personalization:**  \n- **Make it feel like a human wrote it.** The phrasing should be smooth, natural, and sound like a real cold email.  \n- **Ensure relevance to the lead.** The output must reflect what matters to them—their niche, challenges, and goals.  \n- **No vague or empty outputs.** If information is unclear, **infer the closest logical answer based on context** rather than returning `\"not listed\"` unless absolutely necessary.  \n- **Keep it concise.** Each value should be short but descriptive enough to make an impact.  \n\n---\n\n### **Updated Variables to Extract & Formatting Rules:**  \n\n#### **1. CompanyOverview**  \n- A **short, compelling description** of the company’s **core expertise**, framed in a way that fits naturally into the sentence.  \n- **3 words maximum.** Must fit: **We help [CompanyOverview] SaaS teams**  \n\n#### **2. ICPofLead**  \n- The **ideal customer profile (ICP)**, expressed as a **specific, compelling audience** that fits naturally in the sentence.  \n- **4 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **3. PainPointLeadSolves**  \n- The **core problem** the company helps solve, framed **as something the prospect deeply cares about.**  \n- **5 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **4. PrimaryServices**  \n- The **main service offering**, phrased to **sound valuable and high-impact** rather than just a category.  \n- **4 words maximum.** Must fit: **For another [PrimaryServices] SaaS**  \n\n#### **5. Industry**  \n- The **exact industry the company operates in**, phrased naturally.  \n- Must fit: **\"With [Industry] becoming more competitive…\"**  \n- Example: `\"With B2B SaaS becoming more competitive...\"`\n\n---\n\n### **Final JSON Output Format:**\n```json\n{\n  \"CompanyOverview\": \"...\",\n  \"ICPofLead\": \"...\",\n  \"PainPointLeadSolves\": \"...\",\n  \"PrimaryServices\": \"...\",\n  \"Industry\": \"...\"\n}\n```\n---\n\n### **Example in a Cold Email:**\n> **\"With B2B SaaS becoming more competitive, we help SaaS growth firms reach tech startups struggling with inconsistent pipeline growth. We just booked X calls for a demand-gen firm last month.\"**  ",
              "role": "system"
            },
            {
              "content": "=Input: {{ $json.text }}\nToday's date: {{ $now }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4740,
        720
      ],
      "id": "4b174d78-a748-4ba8-a0e2-f615bc6a2434",
      "name": "Determine Variables,",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in refining company names for everyday use in professional email communication. When given a company name, extract and output only the core term that employees and customers naturally use—stripping away legal designations (like \"LLC,\" \"Inc.,\" \"Ltd.\") and extraneous suffixes (such as \"and Co\" or similar). Ensure the resulting name is concise, informal, and exactly as it would be referred to in day-to-day conversation.\n\n**Note:** Output only the cleaned company name."
            },
            {
              "content": "=Scraped Company Name: {{ $('Pull Lead From Airtable,').item.json['Company Name'] }}\nDomain Name: {{ $('Pull Lead From Airtable,').item.json['Company Website'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2eaef82d-e871-4995-99ff-1caaa7183d53",
      "name": "Clean Company Name,",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5120,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt:**  \n\nYou are an expert in structured text generation. Your task is to correctly insert the provided company name into the following sentence while ensuring proper capitalization **except for the first letter, which must always be lowercase**. The rest of the sentence must remain exactly as written.  \n\n#### **Sentence Template:**  \n*\"how are you currently handling lead sourcing and outreach at [Company]—is it mostly manual, or have you automated parts of it?\"*  \n\n### **Instructions:**  \n- Ensure the **company name is formatted correctly** (e.g., \"Acme Corp\" stays \"Acme Corp\", \"making Space\" stays \"Making Space\").  \n- Convert only the **first letter of the sentence** to lowercase.  \n- Keep the **rest of the text, including punctuation, spacing, and wording, exactly the same**.  \n- Output strictly in the following JSON format:  \n\n```json\n{\n  \"cold_email_opener\": \"how are you currently handling lead sourcing and outreach at [Company]—is it mostly manual, or have you automated parts of it?\"\n}\n```    \n\n- **No additional text, commentary, or formatting—only return the JSON object.**"
            },
            {
              "content": "=Company Name: {{ $json.message.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "904322ce-4e9e-446c-9276-ae6e1268e685",
      "name": "Write Personalized Line,",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5500,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Cold",
            "Company Name": "={{ $('Clean Company Name.').item.json.message.content }}",
            "Summary": "={{ $('Analyze Company LinkedIn.').item.json.message.content }}",
            "Personalization": "={{ $json.message.content.cold_email_opener }}",
            "Date Lead Enriched": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5239309-5463-4a44-b491-3c269f32b2ce",
      "name": "Update Enriched.",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5880,
        340
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Cold",
            "Company Name": "={{ $('Clean Company Name,').item.json.message.content }}",
            "Summary": "={{ $('Analyze Company LinkedIn.').item.json.message.content }}",
            "Personalization": "={{ $json.message.content.cold_email_opener }}",
            "Date Lead Enriched": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "78b89284-9f61-4a31-8100-2a72c4fba2e6",
      "name": "Update Enriched, ",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5880,
        720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"[INPUT YOUR API HERE]\",\n  \"campaign_id\": \"{{ $('Pull Lead From Airtable,').first().json['Instantly Camp. ID'] }}\",\n  \"skip_if_in_workspace\": false,\n  \"skip_if_in_campaign\": true,\n  \"leads\": [\n    {\n      \"email\": \"{{ $('Pull Lead From Airtable,').first().json['Email Address'] }}\",\n      \"first_name\": \"{{ $('Pull Lead From Airtable,').first().json['First Name'] }}\",\n      \"last_name\": \"{{ $('Pull Lead From Airtable,').first().json['Last Name'] }}\",\n      \"company_name\": \"{{ $('Clean Company Name.').item.json.message.content }}\",\n      \"personalization\": \"{{ $json.message.content.cold_email_opener }}\",\n      \"phone\": \"\",\n      \"website\": \"\",\n      \"custom_variables\": {\n        \"CompanyOverview\": \"{{ $('Determine Variables.').item.json.message.content.CompanyOverview }}\",\n        \"ICPofLead\": \"{{ $('Determine Variables.').item.json.message.content.ICPofLead }}\",\n        \"PainPointLeadSolves\": \"{{ $('Determine Variables.').item.json.message.content.PainPointLeadSolves }}\",\n        \"PrimaryServices\": \"{{ $('Determine Variables.').item.json.message.content.PrimaryServices }}\",\n        \"Industry\":\"{{ $('Determine Variables.').item.json.message.content.Industry }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "7a1a2f3c-f2ee-45ed-a5b8-de35f51a14c1",
      "name": "Update Lead to Instantly.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5880,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"[INPUT YOUR API HERE]\",\n  \"campaign_id\": \"{{ $('Pull Lead From Airtable,').item.json['Instantly Camp. ID'] }}\",\n  \"skip_if_in_workspace\": false,\n  \"skip_if_in_campaign\": true,\n  \"leads\": [\n    {\n      \"email\": \"{{ $('Pull Lead From Airtable,').item.json['Email Address'] }}\",\n      \"first_name\": \"{{ $('Pull Lead From Airtable,').item.json['First Name'] }}\",\n      \"last_name\": \"{{ $('Pull Lead From Airtable,').item.json['Full Name'].split(' ').slice(-1)[0] }}\",\n      \"company_name\": \"{{ $('Clean Company Name,').item.json.message.content }}\",\n      \"personalization\": \"\",\n      \"phone\": \"\",\n      \"website\": \"\",\n      \"custom_variables\": {\n        \"CompanyOverview\": \"{{ $('Determine Variables,').item.json.message.content.CompanyOverview }}\",\n        \"ICPofLead\": \"{{ $('Determine Variables,').item.json.message.content.ICPofLead }}\",\n        \"PainPointLeadSolves\": \"{{ $('Determine Variables,').item.json.message.content.PainPointLeadSolves }}\",\n        \"PrimaryServices\": \"{{ $('Determine Variables,').item.json.message.content.PrimaryServices }}\",\n        \"Industry\":\"{{ $('Determine Variables,').item.json.message.content.Industry }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "46b264f5-537b-48de-be26-0b3b307dc3c5",
      "name": "Update Lead to Instantly,",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5880,
        880
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt: Extract Structured Company Variables for Cold Outreach**  \n\nExtract the following structured company variables from the provided LinkedIn profile text. The extracted values must be **clear, concise, and highly personalized**, ensuring that when they are inserted into the sentence below, they feel **tailored, relevant, and engaging** to the recipient:\n\n> **We help [CompanyOverview] SaaS teams land meetings with [ICPofLead] dealing with [PainPointLeadSolves], using AI-driven outreach that delivers decision-makers, not just replies.\n\nFor another [PrimaryServices] SaaS, we booked 37 calls in a month—12 converted within 30 days, adding $83K in revenue.**\n\n### **Guidelines for Extraction & Personalization:**  \n- **Make it feel like a human wrote it.** The phrasing should be smooth, natural, and sound like a real cold email.  \n- **Ensure relevance to the lead.** The output must reflect what matters to them—their niche, challenges, and goals.  \n- **No vague or empty outputs.** If information is unclear, **infer the closest logical answer based on context** rather than returning `\"not listed\"` unless absolutely necessary.  \n- **Keep it concise.** Each value should be short but descriptive enough to make an impact.  \n\n---\n\n### **Updated Variables to Extract & Formatting Rules:**  \n\n#### **1. CompanyOverview**  \n- A **short, compelling description** of the company’s **core expertise**, framed in a way that fits naturally into the sentence.  \n- **3 words maximum.** Must fit: **We help [CompanyOverview] SaaS teams**  \n\n#### **2. ICPofLead**  \n- The **ideal customer profile (ICP)**, expressed as a **specific, compelling audience** that fits naturally in the sentence.  \n- **4 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **3. PainPointLeadSolves**  \n- The **core problem** the company helps solve, framed **as something the prospect deeply cares about.**  \n- **5 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **4. PrimaryServices**  \n- The **main service offering**, phrased to **sound valuable and high-impact** rather than just a category.  \n- **4 words maximum.** Must fit: **For another [PrimaryServices] SaaS**  \n\n#### **5. Industry**  \n- The **exact industry the company operates in**, phrased naturally.  \n- Must fit: **\"With [Industry] becoming more competitive…\"**  \n- Example: `\"With B2B SaaS becoming more competitive...\"`\n\n---\n\n### **Final JSON Output Format:**\n```json\n{\n  \"CompanyOverview\": \"...\",\n  \"ICPofLead\": \"...\",\n  \"PainPointLeadSolves\": \"...\",\n  \"PrimaryServices\": \"...\",\n  \"Industry\": \"...\"\n}\n```\n",
              "role": "system"
            },
            {
              "content": "=Input: {{ $json.text }}\nToday's date: {{ $now }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4300,
        100
      ],
      "id": "b0d7a6ed-d01f-4ab5-9542-743b34ad66c6",
      "name": "Determine Variables.1",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Funding-Based Personalized Email Opener Prompt**  \n\n```plaintext\nYou are an expert in structured text generation. Your task is to generate a **personalized email opener** using the provided funding information while ensuring proper grammar and natural flow.\n\n### **Input Data:**  \nYou will receive the following details about a company's funding:  \n- **Company Name**: The name of the company.  \n- **Funding Amount**: The amount raised (e.g., \"$10M\", \"$50M Series B\").  \n- **Funding Round**: The round of funding (e.g., \"Seed\", \"Series A\", \"Series B\").  \n- **Date of Funding**: The approximate time of the funding event (e.g., \"last month\", \"Q4 2023\").  \n- **Investors (if available)**: The names of key investors (e.g., \"Sequoia Capital, Andreessen Horowitz\").  \n\n### **Instructions:**  \n- The **opener should acknowledge the funding event** in a natural, conversational way.  \n- Ensure **proper capitalization of the company name** (e.g., \"Acme Corp\" stays \"Acme Corp\").  \n- Keep the sentence **engaging but concise**, ensuring it reads like a natural cold email.  \n- If no investors are provided, exclude any mention of them.  \n- The response must be in **structured JSON format** as shown below.  \n\n---\n\n### **Sentence Template Examples:**  \n- **With investors**:  \n  *\"Congrats on raising $15M in your Series A with Sequoia Capital—exciting times for [Company]! Curious, how are you planning to scale your outbound efforts?\"*  \n\n- **Without investors**:  \n  *\"Saw that [Company] recently raised $10M in Series A—big milestone! How are you thinking about outbound at this stage?\"*  \n\n- **Older funding round**:  \n  *\"Noticed that [Company] closed a Series B round in Q4 2023—must be a big year for growth! Curious, how are you handling lead generation right now?\"*  \n\n---\n\n### **Expected JSON Output Format:**  \n```json\n{\n  \"cold_email_opener\": \"Congrats on raising $10M in your Series A with Sequoia Capital—exciting times for [Company]! Curious, how are you planning to scale your outbound efforts?\"\n}\n```  \n\n### **Additional Notes:**  \n- **Personalized but not too casual**—aim for professional but engaging.  \n- **Ensure the company name is correctly capitalized**  \n- **Strictly return only the JSON object**—no extra text or formatting.  \n```"
            },
            {
              "content": "=Company Name: {{ $json.message.content }}\nFunding Info: {{ $('Analyze Company LinkedIn.').item.json.message.content['Company LinkedIn']['4. Recent Announcements and Market Activity']['Recent Activities'][2]['Funding Announcement'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "f32b0674-b3b9-4a1a-b647-d220c6e69b02",
      "name": "Write Personalized Line.1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5120,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in refining company names for everyday use in professional email communication. When given a company name, extract and output only the core term that employees and customers naturally use—stripping away legal designations (like \"LLC,\" \"Inc.,\" \"Ltd.\") and extraneous suffixes (such as \"and Co\" or similar). Ensure the resulting name is concise, informal, and exactly as it would be referred to in day-to-day conversation.\n\n**Note:** Output only the cleaned company name."
            },
            {
              "content": "=Scraped Company Name: {{ $('Pull Lead From Airtable,').first().json['Company Name'] }}\nDomain Name: {{ $('Pull Lead From Airtable,').first().json['Company Website'] }}\nScrape LinkedIn: {{ $('Remove HTML From Homepage').first().json.plainText }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4d02b2e-d34b-4570-956f-21898bbabbf7",
      "name": "Clean Company Name.1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        4740,
        100
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst text = items.map((item) => JSON.stringify(item.json)).join(\" \");\nreturn { text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        300
      ],
      "id": "cd4accf6-c0bb-4d1b-ac96-422135e5aae8",
      "name": "JSON Into Text1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e25e642-5664-4e24-af37-7760810ceb49",
              "leftValue": "={{ $('Analyze Company LinkedIn.').item.json.message.content['Company LinkedIn']['Business Operations and Market Presence'].funding_information }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4080,
        300
      ],
      "id": "493b12d6-97d1-4146-b0b4-a47cc12ef8bc",
      "name": "Funding?1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt: Extract Structured Company Variables for Cold Outreach**  \n\nExtract the following structured company variables from the provided LinkedIn profile text. The extracted values must be **clear, concise, and highly personalized**, ensuring that when they are inserted into the sentence below, they feel **tailored, relevant, and engaging** to the recipient:\n\n> **\"We help [CompanyOverview] SaaS teams land meetings with [ICPofLead] dealing with [PainPointLeadSolves], For another [PrimaryServices] SaaS, we booked X calls.\"**\n\n### **Guidelines for Extraction & Personalization:**  \n- **Make it feel like a human wrote it.** The phrasing should be smooth, natural, and sound like a real cold email.  \n- **Ensure relevance to the lead.** The output must reflect what matters to them—their niche, challenges, and goals.  \n- **No vague or empty outputs.** If information is unclear, **infer the closest logical answer based on context** rather than returning `\"not listed\"` unless absolutely necessary.  \n- **Keep it concise.** Each value should be short but descriptive enough to make an impact.  \n\n---\n\n### **Updated Variables to Extract & Formatting Rules:**  \n\n#### **1. CompanyOverview**  \n- A **short, compelling description** of the company’s **core expertise**, framed in a way that fits naturally into the sentence.  \n- **3 words maximum.** Must fit: **We help [CompanyOverview] SaaS teams**  \n\n#### **2. ICPofLead**  \n- The **ideal customer profile (ICP)**, expressed as a **specific, compelling audience** that fits naturally in the sentence.  \n- **4 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **3. PainPointLeadSolves**  \n- The **core problem** the company helps solve, framed **as something the prospect deeply cares about.**  \n- **5 words maximum.** Must fit: **meetings with [ICPofLead] dealing with [PainPointLeadSolves]**  \n\n#### **4. PrimaryServices**  \n- The **main service offering**, phrased to **sound valuable and high-impact** rather than just a category.  \n- **4 words maximum.** Must fit: **For another [PrimaryServices] SaaS**  \n\n#### **5. Industry**  \n- The **exact industry the company operates in**, phrased naturally.  \n- Must fit: **\"With [Industry] becoming more competitive…\"**  \n- Example: `\"With B2B SaaS becoming more competitive...\"`\n\n---\n\n### **Final JSON Output Format:**\n```json\n{\n  \"CompanyOverview\": \"...\",\n  \"ICPofLead\": \"...\",\n  \"PainPointLeadSolves\": \"...\",\n  \"PrimaryServices\": \"...\",\n  \"Industry\": \"...\"\n}\n```\n---\n\n### **Example in a Cold Email:**\n> **\"With B2B SaaS becoming more competitive, we help SaaS growth firms reach tech startups struggling with inconsistent pipeline growth. We just booked X calls for a demand-gen firm last month.\"**  ",
              "role": "system"
            },
            {
              "content": "=Input: {{ $json.text }}\nToday's date: {{ $now }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4300,
        320
      ],
      "id": "4beade87-5d5c-4be7-9fa5-eeee3b9f8743",
      "name": "Determine Variables,1",
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in refining company names for everyday use in professional email communication. When given a company name, extract and output only the core term that employees and customers naturally use—stripping away legal designations (like \"LLC,\" \"Inc.,\" \"Ltd.\") and extraneous suffixes (such as \"and Co\" or similar). Ensure the resulting name is concise, informal, and exactly as it would be referred to in day-to-day conversation.\n\n**Note:** Output only the cleaned company name."
            },
            {
              "content": "=Scraped Company Name: {{ $('Pull Lead From Airtable,').item.json['Company Name'] }}\nDomain Name: {{ $('Pull Lead From Airtable,').item.json['Company Website'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb0f93dc-ac22-48e5-a533-dd271e103ee7",
      "name": "Clean Company Name,1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        4740,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Prompt:**  \n\nYou are an expert in structured text generation. Your task is to correctly insert the provided company name into the following sentence while ensuring proper capitalization **except for the first letter, which must always be lowercase**. The rest of the sentence must remain exactly as written.  \n\n#### **Sentence Template:**  \n*\"how are you currently handling lead sourcing and outreach at [Company]—is it mostly manual, or have you automated parts of it?\"*  \n\n### **Instructions:**  \n- Ensure the **company name is formatted correctly** (e.g., \"Acme Corp\" stays \"Acme Corp\", \"making Space\" stays \"Making Space\").  \n- Convert only the **first letter of the sentence** to lowercase.  \n- Keep the **rest of the text, including punctuation, spacing, and wording, exactly the same**.  \n- Output strictly in the following JSON format:  \n\n```json\n{\n  \"cold_email_opener\": \"how are you currently handling lead sourcing and outreach at [Company]—is it mostly manual, or have you automated parts of it?\"\n}\n```    \n\n- **No additional text, commentary, or formatting—only return the JSON object.**"
            },
            {
              "content": "=Company Name: {{ $json.message.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "436a7bf0-160f-4b12-9a8f-d39945b992d9",
      "name": "Write Personalized Line,1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        5120,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "b2kOBJyl5u4VWa5e",
          "name": "Clarence | OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Cold",
            "Company Name": "={{ $('Clean Company Name.1').item.json.message.content }}",
            "Summary": "={{ $('Analyze Company LinkedIn.').item.json.message.content }}",
            "Personalization": "={{ $json.message.content.cold_email_opener }}",
            "Date Lead Enriched": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d58bb12c-4d36-4589-b68b-9ecdcad71ea4",
      "name": "Update Enriched.1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5500,
        -200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appJhNlGK8yWq6XQr",
          "mode": "list",
          "cachedResultName": "EffiSys | Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr"
        },
        "table": {
          "__rl": true,
          "value": "tblFJtYun0KM3Pq1r",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appJhNlGK8yWq6XQr/tblFJtYun0KM3Pq1r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Start Lead Enrichment": false,
            "id": "={{ $('Pull Lead From Airtable,').item.json.id }}",
            "Lead Status": "Cold",
            "Company Name": "={{ $('Clean Company Name,1').item.json.message.content }}",
            "Summary": "={{ $('Analyze Company LinkedIn.').item.json.message.content }}",
            "Personalization": "={{ $json.message.content.cold_email_opener }}",
            "Date Lead Enriched": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Lead Enrichment",
              "displayName": "Start Lead Enrichment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead Yet to be Enriched",
                  "value": "Lead Yet to be Enriched"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Interested - RtS",
                  "value": "Interested - RtS"
                },
                {
                  "name": "Interested - MiN",
                  "value": "Interested - MiN"
                },
                {
                  "name": "Interested - CN",
                  "value": "Interested - CN"
                },
                {
                  "name": "Interested - FUL",
                  "value": "Interested - FUL"
                },
                {
                  "name": "Wrong Person - R",
                  "value": "Wrong Person - R"
                },
                {
                  "name": "Not Interested - NI",
                  "value": "Not Interested - NI"
                },
                {
                  "name": "Not Interested - NB",
                  "value": "Not Interested - NB"
                },
                {
                  "name": "Not Interested - AUS",
                  "value": "Not Interested - AUS"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Awaiting Proposal",
                  "value": "Awaiting Proposal"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost - U/DNC",
                  "value": "Lost - U/DNC"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time At Company",
              "displayName": "Time At Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Organization URL",
              "displayName": "LinkedIn Organization URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Crunchbase URL",
              "displayName": "Crunchbase URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personalization",
              "displayName": "Personalization",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instantly Camp. ID",
              "displayName": "Instantly Camp. ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Lead Enriched",
              "displayName": "Date Lead Enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3325056e-e4cd-4372-ab6b-8627f0452572",
      "name": "Update Enriched, 1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5500,
        320
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "JtCSqEgmEXLGgj8l",
          "name": "Clarence | Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"[INPUT YOUR API HERE]\",\n  \"campaign_id\": \"{{ $('Pull Lead From Airtable,').first().json['Instantly Camp. ID'] }}\",\n  \"skip_if_in_workspace\": false,\n  \"skip_if_in_campaign\": true,\n  \"leads\": [\n    {\n      \"email\": \"{{ $('Pull Lead From Airtable,').first().json['Email Address'] }}\",\n      \"first_name\": \"{{ $('Pull Lead From Airtable,').first().json['First Name'] }}\",\n      \"last_name\": \"{{ $('Pull Lead From Airtable,').first().json['Last Name'] }}\",\n      \"company_name\": \"{{ $('Clean Company Name.1').item.json.message.content }}\",\n      \"personalization\": \"{{ $json.message.content.cold_email_opener }}\",\n      \"phone\": \"\",\n      \"website\": \"\",\n      \"custom_variables\": {\n        \"CompanyOverview\": \"{{ $('Determine Variables.1').item.json.message.content.CompanyOverview }}\",\n        \"ICPofLead\": \"{{ $('Determine Variables.1').item.json.message.content.ICPofLead }}\",\n        \"PainPointLeadSolves\": \"{{ $('Determine Variables.1').item.json.message.content.PainPointLeadSolves }}\",\n        \"PrimaryServices\": \"{{ $('Determine Variables.1').item.json.message.content.PrimaryServices }}\",\n        \"Industry\":\"{{ $('Determine Variables.1').item.json.message.content.Industry }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "373e1f76-ffe3-4744-9a16-674be58f3d9f",
      "name": "Update Lead to Instantly.1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"[INPUT YOUR API HERE]\",\n  \"campaign_id\": \"{{ $('Pull Lead From Airtable,').item.json['Instantly Camp. ID'] }}\",\n  \"skip_if_in_workspace\": false,\n  \"skip_if_in_campaign\": true,\n  \"leads\": [\n    {\n      \"email\": \"{{ $('Pull Lead From Airtable,').item.json['Email Address'] }}\",\n      \"first_name\": \"{{ $('Pull Lead From Airtable,').item.json['First Name'] }}\",\n      \"last_name\": \"{{ $('Pull Lead From Airtable,').item.json['Full Name'].split(' ').slice(-1)[0] }}\",\n      \"company_name\": \"{{ $('Clean Company Name,1').item.json.message.content }}\",\n      \"personalization\": \"\",\n      \"phone\": \"\",\n      \"website\": \"\",\n      \"custom_variables\": {\n        \"CompanyOverview\": \"{{ $('Determine Variables,1').item.json.message.content.CompanyOverview }}\",\n        \"ICPofLead\": \"{{ $('Determine Variables,1').item.json.message.content.ICPofLead }}\",\n        \"PainPointLeadSolves\": \"{{ $('Determine Variables,1').item.json.message.content.PainPointLeadSolves }}\",\n        \"PrimaryServices\": \"{{ $('Determine Variables,1').item.json.message.content.PrimaryServices }}\",\n        \"Industry\":\"{{ $('Determine Variables,1').item.json.message.content.Industry }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "03965ae5-6e34-4da7-9160-8d3e8dec51f5",
      "name": "Update Lead to Instantly,1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        140
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Retrieve Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Dataset Availability": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Dataset": {
      "main": [
        [
          {
            "node": "Verify Dataset Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Apollo Lead Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Lead Scraper": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Add Leads to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Lead From Airtable,": {
      "main": [
        [
          {
            "node": "US: Yes or No?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US: Yes or No?": {
      "main": [
        [
          {
            "node": "LinkedIn Company Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Lead - Not US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Pull Lead From Airtable,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Company Scraper": {
      "main": [
        [
          {
            "node": "Remove HTML LinkedIn Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove HTML LinkedIn Page": {
      "main": [
        [
          {
            "node": "Saas Fit Qualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2B?": {
      "main": [
        [
          {
            "node": "<50?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Not Qualified1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "<50?": {
      "main": [
        [
          {
            "node": "Header Links Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Not Qualified2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Company LinkedIn": {
      "main": [
        [
          {
            "node": "JSON Into Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saas Fit Qualifier": {
      "main": [
        [
          {
            "node": "Bad Fit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad Fit?": {
      "main": [
        [
          {
            "node": "B2B?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Not Qualified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter HTML": {
      "main": [
        [
          {
            "node": "Turn X Items Into 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Header Links Scraper": {
      "main": [
        [
          {
            "node": "Remove HTML From Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn X Items Into 1": {
      "main": [
        [
          {
            "node": "Determine Valuable URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Valuable URLs": {
      "main": [
        [
          {
            "node": "Pricing URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Filter HTML From Webpage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove HTML From Homepage": {
      "main": [
        [
          {
            "node": "Filter HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter HTML From Webpage": {
      "main": [
        [
          {
            "node": "Determine Pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing URL?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Company LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Pricing": {
      "main": [
        [
          {
            "node": "Low Ticket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Company LinkedIn.": {
      "main": [
        [
          {
            "node": "JSON Into Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Variables.": {
      "main": [
        [
          {
            "node": "Clean Company Name.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Personalized Line.": {
      "main": [
        [
          {
            "node": "Update Enriched.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead to Instantly.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Company Name.": {
      "main": [
        [
          {
            "node": "Write Personalized Line.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Into Text": {
      "main": [
        [
          {
            "node": "Funding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Ticket?": {
      "main": [
        [
          {
            "node": "Analyze Company LinkedIn.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - Low Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funding?": {
      "main": [
        [
          {
            "node": "Determine Variables.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Variables,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Variables,": {
      "main": [
        [
          {
            "node": "Clean Company Name,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Company Name,": {
      "main": [
        [
          {
            "node": "Write Personalized Line,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Personalized Line,": {
      "main": [
        [
          {
            "node": "Update Enriched, ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead to Instantly,",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Variables.1": {
      "main": [
        [
          {
            "node": "Clean Company Name.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Personalized Line.1": {
      "main": [
        [
          {
            "node": "Update Enriched.1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead to Instantly.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Company Name.1": {
      "main": [
        [
          {
            "node": "Write Personalized Line.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Into Text1": {
      "main": [
        [
          {
            "node": "Funding?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funding?1": {
      "main": [
        [
          {
            "node": "Determine Variables.1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Variables,1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Variables,1": {
      "main": [
        [
          {
            "node": "Clean Company Name,1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Company Name,1": {
      "main": [
        [
          {
            "node": "Write Personalized Line,1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Personalized Line,1": {
      "main": [
        [
          {
            "node": "Update Enriched, 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Lead to Instantly,1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b444d626-c9bd-4931-b515-e3d4e7d0b818",
  "meta": {
    "instanceId": "be9861782fae15eac6af5bd3da39e0377359813f71b0e0ed19ed3a98eb035f79"
  },
  "id": "04Xz6WKxO9ixuNoT",
  "tags": []
}